@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');
@import '../node_modules/owl-carousel/owl-carousel/owl.carousel.css';
@import '../node_modules/owl-carousel/owl-carousel/owl.theme.css';

:root {
    --orange: #FACD66;

    a:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

body {
    overflow-x: hidden;

    h2 {
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 28px;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-track {
        display: flex;
    }
}

.read_more {
    display: none;
    cursor: pointer;
    &:hover {
        color: var(--orange);
    }
}
.container {
    max-width: 1336px;
}

.header {
    height: 80px;
    background: #1D2123;
    position: sticky;
    top: 0;
    z-index: 500;
    .container,
    .row {
        height: 100%;
    }

    .row {
        align-items: center;
    }
}

.main_menu {
    font-family: 'Montserrat';
    gap: 24px;
    justify-content: center;
    li {
        position: relative;
        padding-bottom: 4px;
        transition: all .5s ease;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #fff;
            height: 1px;
            width: 0;
            transition: all .5s ease;
        }

        .submenu_icon {
            transition: all .5s ease;
            margin-bottom: 5px;
        }

        &:hover {
            &::before {
                width: 100%;
            }

            .sub_menu {
                visibility: visible;
                height: auto;
                opacity: 1;
            }

            .submenu_icon {
                // transform: rotate(180deg);
                transform: scaleY(-1);
            }
        }

        a {
            color: #fff;
            font-size: 16px;
        }
    }

    .sub_menu {
        position: absolute;
        list-style: none;
        padding: 0;
        z-index: 1;
        background: #1D2123;
        width: 100%;
        left: 0;
        padding: 25px;
        border-top: 30px solid transparent;
        transition: all .5s ease;
        height: 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;

        li {
            margin-bottom: 15px;

        }
    }
}

.controls_side {
    a {
        margin-left: 16px;

        &:first-child {
            margin-left: 0;
        }
    }

}

.counted {
    position: relative;

    span {
        width: 14px;
        height: 14px;
        position: absolute;
        background: var(--orange);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: #1D2123;
        right: -7px;
        top: -10px;
    }
}

.burger {
    position: relative;
    width: 24px;
    height: 24px;
    display: none;

    span {
        position: absolute;
        height: 2px;
        background: white;
        display: flex;
        width: 100%;
        transition: all .5s ease;

        &:first-child {
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            top: 8px;
            left: 0;
        }

        &:last-child {
            top: 16px;
            left: 0;
        }
    }

    &.active {
        span {
            &:first-child {
                transform: rotate(45deg);
                top: 10px;
            }

            &:nth-child(2) {
                width: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
                top: 10px;
            }
        }
    }
}

section {
    font-family: 'Nunito Sans';
}

.section_1 {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h1 {
        margin-top: 100px;
    }

    .disc_box {
        max-width: 45%;
        // position: absolute;
        top: 0;
        margin-left: auto;
        right: 20px;
        top: 24px;
        overflow: hidden;
    }

    .row {
        align-items: center;
    }

    .wave_box {
        width: 69%;
        bottom: 70px;
        position: relative;
        height: 200px;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }

    h1 {
        font-weight: 800;
        color: #1D2123;
        font-size: 48px;
        margin-bottom: 16px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 23px;
    }
}

.main_btn {
    max-width: 163px;
    width: 100%;
    height: 48px;
    display: flex;
    background: var(--orange);
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    color: #1D2123;
    transition: all .5s ease;
    margin-bottom: 100px;

    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, .4);
        transform: scale(.9);
        color: #1D2123;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.disc {
    margin-left: auto;
    width: 100%;
    animation: rotate 9s 0s linear infinite;
    z-index: 1;
    position: relative;
}

.block_head {
    font-size: 16px;
    font-weight: 600;
    a {
        color: #1D2123;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            color: var(--orange);
        }
    }
}

.recommend_section {
    

    .top_slider {
        margin-top: 40px;
    }


}

.top_slide {
    max-width: 292px;
    width: 100%;
    height: 446px;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}

.top_slide__head__image_holder {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.label_new {
    position: absolute;
    width: 78px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    background: var(--orange);
    top: 16px;
    color: #1D2123;
}

.label_discount {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D11E1E;
    width: 60px;
    height: 26px;
    position: absolute;
    top: 47px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.top_slide__head__image_holder__like {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    background: rgba(29, 33, 35, 0.5);
    transition: all .5s ease;
    width: 32px;
    height: 32px;
    border-radius: 5px;

    &:hover {
        background: var(--orange);
    }

    &.active {
        background: var(--orange);
    }
}

.top_slider__content {
    h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 4px;

        a {
            color: #1D2123;

            &:hover {
                color: var(--orange);
            }
        }
    }
}

.top_slider__status {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;

    &.have {
        color: rgba(0, 159, 6, 1);
    }

    &.not {
        color: #D11E1E;
    }

    &.wait {
        color: var(--orange);
    }
}

.top_slider__price_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;

    .top_slider__old_price {
        color: rgba(172, 172, 172, 1);
        text-decoration: line-through;
        margin-right: 8px;
        font-size: 16px;
        font-weight: 400;
    }

    .top_slider__price {
        font-size: 18px;
        font-weight: 700;
        color: #1D2123;
    }
}

.by_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background: var(--orange);
    color: #1D2123;
    transition: all .5s ease;
    height: 44px;

    &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        transform: scale(.9);
        color: #1D2123;
    }
}

.top_slider {
    .prev_arrow {
        transition: all .5s ease;
        cursor: pointer;
        transform: scaleX(-1) translate(0, -50%);
        position: absolute;
        left: -10px;
        top: 50%;

        &.slick-disabled {
            opacity: .5;
        }
    }

    .next_arrow {
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        right: -10px;
        top: 50%;

        &.slick-disabled {
            opacity: .5;
        }
    }
}

.prev_arrow_second {
    transition: all .5s ease;
    cursor: pointer;
    transform: scaleX(-1) translate(0, -50%);
    position: absolute;
    left: -10px;
    top: 50%;

    &.slick-disabled {
        opacity: .5;
    }
}

.next_arrow_second {
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 50%;

    &.slick-disabled {
        opacity: .5;
    }
}

.categories_section {
    padding-top: 120px;

    h2 {
        margin-bottom: 40px;
    }

    .cat__row {
        gap: 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .cat_box {
        max-width: 229px;
        width: 100%;
        height: 229px;
        position: relative;
        overflow: hidden;

        &:hover {
            img {
                width: 110%;
                height: 110%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            transition: all .5s ease;
        }

        h4 {
            position: absolute;
            font-size: 20px;
            font-weight: 800;
            color: #fff;
            bottom: 20px;
            width: 100%;
            text-align: center;
        }
    }
}

.seems_section {
    padding-top: 120px;
}

.social_section {
    padding: 64px 0;
    margin: 120px 0;
    background: rgba(29, 33, 35, 0.05);
    text-align: center;
    h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 16px;
    }
    .social_menu {
        justify-content: center;
        gap: 8px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: var(--orange);
            transition: all .5s ease;
            &:hover {
                transform: scale(.9);
            }
        }
    }
}
.info_section {
    padding-bottom: 120px;
    h2 {
        margin-bottom: 24px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
    }
}
.footer {
    background: #1D2123;
    padding: 32px 0;
    h4 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;
        color: #fff;
        margin-top: 48px;
    }
    .form_box {
        display: flex;
        justify-content: flex-end;
        form {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        input {
            max-width: 257px;
            width: 100%;
            height: 40px;
            padding-left: 16px;
            color: white;
            font-size: 12px;
            font-weight: 400;
            background: rgba(255, 255, 255, 0.1);
            border: 0;
            margin-right: 8px;
        }
        button {
            height: 44px;
            width: 131px;
            border: 0;
            background: var(--orange);
            color: #1D2123;
            font-size: 14px;
            font-weight: 600;
            transition: all .5s ease;
            &:hover {
                transform: scale(.9);
            }
        }
    }
    .footer_list {
        list-style: none;
        padding: 0;
        li {
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 6px;
            a {
               font-size: 14px;
               font-weight: 400;
               color: #fff;
               &:hover {
                color: var(--orange);
               } 
            }
        }
    }
    .footer_social {
        margin-top: 48px;
        gap: 8px;
        a {
            transition: all .5s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background: rgba(255, 255, 255, 0.1);
            &:hover {
                background: var(--orange);
            }
        }
    }
    .copyright {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        margin-top: 32px;
    }
    .payments {
        img {
            filter: grayscale(100%);
            transition: all .5s ease;
            &:first-child {
                margin-right: 15px;
            }
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
.to_top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 200;
    bottom: -100px;
    opacity: 0;
    visibility: hidden;
    right: 95px;
    width: 50px;
    height: 50px;
    background: var(--orange);
    border-radius: 100%;
    transition: all .7s ease;
    &.active {
        visibility: visible;
        opacity: 1;
        bottom: 24px;
    }
}